html {
    font-size: 12pt;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    background-image: radial-gradient(circle, #333, #111);
}

body > .ui.grid {
    height: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

.ui.secondary.inverted.pointing.menu {
    border-width: 0;
}

td.selectable .icon {
    margin: 0;
}

td.selectable a {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.rearrangeable.item {
    cursor: move;
}

.omnishots-logo {
    font-size: 4.2em !important;
    text-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.5);
}

.omnishots-main.column {
    max-width: 60em;
}

.omnishots-large.column {
    margin-left: 4em;
    margin-right: 4em;
}

.omnishots-nav {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 0.5em !important;
    background: rgba(0, 0, 0, 0.7) !important;
}

.omnishots-nav .ui.menu > .item {
    padding: 0.5em 1em;
}

.omnishots-nav-holder {
    position: fixed;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 1.5em;
    width: 100%;
}

.omnishots-content-prompt {
    position: fixed;
    bottom: 1em;
    width: 100%;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.1em;
    color: white;
    text-shadow:
        -0.03em -0.03em 0 #000,
        0.03em -0.03em 0 #000,
        -0.03em 0.03em 0 #000,
        0.03em 0.03em 0 #000,
        -0.03em 0 0 #000,
        0 -0.03em 0 #000,
        0 0.03em 0 #000,
        0.03em 0 0 #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.omnishots-content-solution {
    position: fixed;
    bottom: 2em;
    width: 100%;
}

.omnishots-content-solution .segment {
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.1em;
}

.omnishots-content-holder {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.omnishots-photobomb {
    visibility: collapse;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(photobomb.png);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.omnishots-content-not-found {
    align-self: center;
}

.omnishots-content-hide {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.ui.omnishots-filter.list > .item {
    cursor: pointer;
}

.ui.omnishots-filter.list > .omnishots-disabled.item:hover {
    background: #E8E8E8;
}

.ui.omnishots-filter.list > .omnishots-disabled.item * {
    color: #808080;
}

.ui.omnishots-filter.list > .omnishots-disabled.item:hover * {
    color: #787878;
}

.ui.omnishots-filter.list > .omnishots-enabled.item:hover {
    background: #E8FFE8;
}

.ui.omnishots-filter.list > .omnishots-enabled.item * {
    color: #008000;
}

.ui.omnishots-filter.list > .omnishots-enabled.item:hover * {
    color: #007800;
}

.ui.omnishots-filter.list > .omnishots-active.item {
    background: #E8E8FF;
}
